<?= $this->doctype() ?>
<html  xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
    <head>
        <?= $this->headTitle() ?>
        <?= $this->headMeta() ?>
        <?= $this->headLink() ?>
        <?= $this->headStyle() ?>
            <!-- Le fav and touch icons -->
            <link rel="shortcut icon" href="/ico/favicon.ico">
    </head>
    <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="nav-home" class="navbar-brand" href="/">
              Visualisasi Ringkasan APBD & IPM Kabupaten Kota Indonesia
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="page" id="about" href="#">Tentang Aplikasi</a></li>
            <li><a id="external-source" 
                href="index?apbd=http://data.go.id/dataset/c5153ea6-ffaf-4608-86b1-b35a10a5d5ec/resource/4934d935-b65a-4127-a260-79adf0945702/download/processedapbdkabupaten20092014.csv&ipm=http://data.ukp.go.id/storage/f/2014-03-19T06%3A45%3A43.513Z/processed-ipm-2004-2012.csv">
                Data External(data.go.id)
                </a></li>
            <li><a href="https://gitlab.com/system9/data-goid" target="_blank">Source Code</a></li>
            <!--<li><a class="page" id="help" href="#">Help</a></li>-->
          </ul>
        </div>
      </div>
    </nav> 
    <div class="container-fluid" style="margin-top: 50px">
      <div class="row" style="background-color: #ffffff; padding: 10px">
        <?= $this->layout()->content ?>  
        </div>
    </div>
    
    <div id="goid-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        
    </div>
    </body>
    <?= $this->headScript() ?>
</html>
