<? $this->headTitle('Visualisasi Ringkasan APBD dan IPM Kabupaten/Kota Indonesia') ?>
<div id="level-0" apbd="<?= $this->apbd ?>"
	ipm="<?= $this->ipm ?>"
	source="<?= $this->source ?>">
	<div style="padding: 20px; text-align: center"><img src="/img/creating-chart.gif"></div>
</div>
